<%= simple_form_for @recipes do |f| %>

  <% if @recipes.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipes.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @recipes.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :recipe %>
  <%= f.button :submit, "Create" %>
  <ul class="nav nav-pills">
   <li role="presentation"><%= link_to "Back", recipes_path %></li>
</ul>
<% end %>
